[submodule "wgpu-native"]
	path = subprojects/wgpu-native
	url = git@github.com:gfx-rs/wgpu-native.git
[submodule "glfw"]
	path = subprojects/glfw
	url = git@github.com:glfw/glfw.git
[submodule "subprojects/hashlink"]
	path = subprojects/hashlink
	url = git@github.com:HaxeFoundation/hashlink.git
